!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gatebook
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.navbar
      %div.container
        %div#logo Book Diary!
        %ul.header-right
          %li= link_to 'Top',root_path
          %li= link_to 'About', about_path
          %li= link_to 'New', notes_new_path
          %li= link_to 'Index', notes_path
    %div.container
      = yield

    %div.container
      %footer.footer
        %div.small
          &copy; 2017 Book Diary!
